.. _instance-{{ id }}-label:
 
Instance: {{ id }}
**************************

Matrix:
-------
{{ A }}

Right hand side:
----------------
{{ b }}

Inequalities:
-------------
{{ E }}

Generating Function:
--------------------
{{ r }}


Type:
--------
{{ type }}


Comments:
--------
{{ comment }}

