read "/home/zafeirak/Desktop/xin/Ell2.mpl";

 mA := Array({{A}}):
 mb := Array({{b}}):
 m, n := ArrayTools[Size](mA):
 t := 1:
 for j to n do:
 p := 1:
 for i to m do:
 p := p*a[i]^mA[i, j]:
 end do:
 t := t/(1-z[j]*p):
 end do:
 p := 1:
 for i to m do:
 p := p*a[i]^mb[i]:
 end do:
 t := t*p:
 va := seq(a[i], i = 1 .. m):
 vz := seq(z[i], i = 1 .. n):
 time(E_Oge(t, [vx], [va]));

quit;
